<footer class="footer">
  <p>&lt;3</p>
  <p>Made with all the love in the world by <a href="{{ site.mdotwitter }}">@mdo</a>.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }}.</p>
  <p>Forked by <a href="{{ site.twitter }}">@paulmolluzzo</a>.</p>

  <ul class="quick-links">
    <p>Original Repo</p>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=wtf-html-css&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&repo=wtf-html-css&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <p>This Fork</p>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&repo=wth-html-css&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&repo=wth-html-css&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>  
  <ul class="quick-links">
    <p>Stay Original</p>
    <li class="follow-btn">
      <a href="{{ site.mdotwitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mdo</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mdo.github.com/wtf-html-css" data-count="horizontal" data-via="mdo">Tweet</a>
    </li>
  </ul>
  <ul class="quick-links">
    <p>Or Don't</p>
    <li class="follow-btn">
      <a href="{{ site.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @paulmolluzzo</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://paulmolluzzo.github.com/wth-html-css" data-count="horizontal" data-via="paulmolluzzo">Tweet</a>
    </li>
  </ul>
</footer>
